<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Lisaa valmistaja</title>
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Lisaa uusi valmistaja</h2>

    <p th:if="${error}" th:text="${error}" class="error"></p>

    <form
      th:action="@{/tallennavalmistaja}"
      th:object="${valmistaja}"
      method="post"
    >
      <label>Nimi:</label>
      <input type="text" th:field="*{name}" />
      <div
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        class="error"
      ></div>
      <br /><br />

      <button type="submit">Tallenna valmistaja</button>
    </form>

    <br />
    <a th:href="@{/homepage}">Takaisin etusivulle</a>
  </body>
</html>