<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Koiravaatekauppa</title>
  </head>
  <body>
    <h1>Koiravaatekauppa</h1>

    <a th:href="@{/addvaate}">Lisää uusi vaate</a>
    |
    <a th:href="@{/addvalmistaja}">Lisää uusi valmistaja</a>
    <h2>Added Vaatteet:</h2>
    <div th:if="${vaatteet.isEmpty()}">
      <p>No items added yet.</p>
    </div>
    <div th:unless="${vaatteet.isEmpty()}">
      <ul>
        <li th:each="vaate : ${vaatteet}">
          Name: <span th:text="${vaate.name}"></span>, Size:
          <span th:text="${vaate.size}"></span>, Price:
          <span th:text="${vaate.price}"></span>
          | <a th:href="@{/edit/{id}(id=${vaate.id})}">Update</a>
        </li>
      </ul>
    </div>

    <br /><br />

    <table border="1">
      <tr>
        <th>Nimi</th>
        <th>Koko</th>
        <th>Hinta</th>
        <th>Valmistaja</th>
      </tr>

      <tr th:each="vaate : ${vaatteet}">
        <td th:text="${vaate.name}"></td>
        <td th:text="${vaate.size}"></td>
        <td th:text="${vaate.price}"></td>
        <td
          th:text="${vaate.valmistaja != null ? vaate.valmistaja.name : 'Tuntematon'}"
        ></td>
      </tr>
    </table>
  </body>
</html>
